<!DOCTYPE html>
<html>
<head>
    <title>About this Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>About</h1>
<br/>
<h4>Purpose</h4>
<p>The purpose of this website is to create a useful environment to view information about vehicle purchases by Vehicle
Broker Company.</p><br/>
<h4>Company Information</h4>
<p>Vehicle Broker Company is an intermediary between the customer and the dealerships and manufacturers. We will help
you find the perfect car without having to deal with pushy salespeople or shady dealerships.</p><br/>
<h4>Contact Information</h4>
<p>You can contact us at newcarsmell@vehiclebrokercompany.com</p><br/>
<h4>About the database</h4>
<h5>Entity Relationships</h5>
<img src= '/images/erd-diagram.png' /><br/>
<h5>Relational Schema</h5>
<img src= '/images/RelationalSchema.png' />
<br />

</body>
</html>
