<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/vehicle/all">Vehicles - View All</a> <br />
<a href="/dealership/all">Dealerships - View All</a> <br />
<a href="/manufacturer/all">Manufacturers - View All</a> <br />
<a href="/customer/all">Customers - View All</a> <br />

<br />

</body>
</html>
