<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add New Customer</title>
</head>
<body>
<h1>Add New Customer</h1>
<form action="/customer/insert" method="get">
    First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br />
    Email: <input id="email" name="email" type="text" />

    <input type="submit" />

</form>
</body>

</html>